* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.border-style {
  border: 2px solid #45a049;
  border-radius: 10px;
}

.comment-div {
  margin-top: 2rem;
  padding: 0.5rem;
}

.comments-section p {
  gap: 2rem;
}

.comment-div .comment-text p {
  margin-top: 0.5rem;
}

.comment-div .counter-div {
  margin-top: 0.5rem;
  justify-content: flex-end;
  gap: 0.5rem;
}

.comment-bio-div {
  margin: 2rem 0;
}

.comments-section {
  margin: 2rem 0;
  padding: 0.5rem;
}

.post-details-div {
  margin: 2rem;
}

.post-details-div .single-post-details {
  padding: 0.5rem;
}

.post-details-div .single-post-details .title-details {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.6rem;
}

.post-details-div .single-post-details .title-details p {
  font-size: 1.3rem;
  font-weight: bold;
}

.post-details-div .single-post-details .title-details span {
  margin: 0 0.4rem;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  color: red;
  font-size: 30px;
  float: right;
  cursor: pointer;
  margin-top: -2rem;
  margin-right: 0.5rem;
}

.heart-icon {
  display: inline-block;
  vertical-align: middle;
}

.delete-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c00;
}
